body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: $color-grey-dark;
  padding: 3rem;
}

.main-slogan {
  color: $color-white;
  text-transform: uppercase;
  backface-visibility: hidden;

  &__primary {
    display: block;
    font-size: 6rem;
    letter-spacing: 3.5rem;
    font-weight: 400;
  
    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out;
  }
  &__sub {
    display: block;
    font-size: 2rem;
    letter-spacing: 1.74rem;
    margin-bottom: 6rem;
  
    animation: moveInRight 1s ease-out;
  }

}